@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

body {
    margin: 0;
    padding: 0;
    background: url(https://cdn.discordapp.com/attachments/985822288765132851/985841651765358613/production_ID_4763824_2.mp4) no-repeat center center/cover;
  }
.container .Titles h1 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
    max-width: 400px;
    width: 100%;
    height: 50px;
}
.bg-video-wrap img {
    position: absolute;
    width: 200px;
    height: 200px;
    object-position: right;
    transition: transform .3s;
    margin: auto;
    z-index: 1;
}
.bg-video-wrap img:hover {
    transform: scale(2.); 
}

.bg-video-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }
  video {
    min-width: 100%;
    min-height: 100vh;
    z-index: 1;
  }
  .overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);
    background-size: 3px 3px;
    z-index: 2;
  }